:root {
    --catalog-bg-color: #dbd9d9;
    --filters-gap: .5rem;
}

#catalog {
    padding-top: 3rem;
    background-color: var(--catalog-bg-color);
    overflow-y: hidden;
}

/* Filter */

.filters {
    display: flex;
    justify-content: space-between;
}

.filter-lable {
    font-weight: bold;
    font-size: 1.25rem;
}

.controls {
    display: flex;
    gap: var(--filters-gap);
}

.filters .controls {
    display: flex;
    width: 20rem;
}

.filters form {
    width: auto;
    flex: 1;
    padding: .2rem .3rem;
    background-color: #f7f6f6;
    margin-bottom: 1rem;
    border: solid;
    border-radius: 15px;
}

.filters form:hover {
    background-color: var(--color-button-primary);
}

.filters select:focus-visible {
    outline: none;
}

.filters select {
    appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff00;
}

.filters select option {
    margin-left: .5rem;
}



@media screen and (max-width: 768px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}


/* Catalog */

.catalog {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.catalog .item {
    display: inherit;
    width: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.catalog .item__wrapper {
    display: inherit;
    flex-direction: column;
    gap: .25rem;
    background: linear-gradient(#c4c0c0, #999999);
    padding: 10%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: solid;
    overflow: hidden;
    width: 100%;
}

.catalog .item__wrapper:hover {
    border-width: 4px;
    background: linear-gradient(#aca8a8, #848383);
}

.catalog .item-img {
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.catalog button {
    width: 100%;
    border: solid;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 15px;
    background: linear-gradient(var(--color-button-primary), var(--color-button-secondary));
    color: #171717;
    border-color: #3f3f3f;
    font-weight: bolder;
}

.catalog button:hover {
    background: var(--color-button-primary-hover);
}

@media screen and (min-width: 1000px) {
    

    .catalog button {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .catalog .item {
        width: 25%;
    }

    .catalog .item {
        padding: 1rem;
    }

    .catalog .item__wrapper {
        padding: 12%;
    }
}