:root {
    --catalog-bg-color: var(--color-bg-main);

    --form-bg-color: var(--color-bg-surface);
    --forms-color: var(--text-color-navbar);
    --forms-color-hover: var(--text-color-navbar-hover);
    
    --item__wrapper-bg-color: linear-gradient(var(--color-bg-surface), var(--color-bg-main));
    --item-btn-color: linear-gradient(var(--color-button-primary), var(--color-button-secondary));
    --item-btn-color-hover: var(--color-button-primary-hover);
    
    --filters-gap: .5rem;
    --catalog-gap: 5vw;
}

#catalog {
    padding-top: 3rem;
    padding-inline: 2rem;
    background-color: var(--catalog-bg-color);
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}



/* Filter */

.filters {
    display: flex;
    justify-content: space-between;
}

.filter-lable {
    font-weight: bold;
    font-size: 1.25rem;
}

.filters .controls {
    display: flex;
    width: 80vw;
    gap: var(--filters-gap);
}

.filters form {
    width: auto;
    flex: 1;
    padding: .2rem .3rem;
    background-color: var(--forms-color);
    margin-bottom: 1rem;
    border: solid;
    border-radius: 15px;
}

.filters form:hover {
    background-color: var(--forms-color-hover);
}

.filters select:focus-visible {
    outline: none;
}

.filters select {
    appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.filters select option {
    margin-left: .5rem;
}



@media screen and (max-width: 768px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}


/* Catalog */

.catalog {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: var(--catalog-gap);
}

.catalog .item {
    display: inherit;
    width: calc(50% - (var(--catalog-gap) * .5));
    /* padding: 1rem; */
    justify-content: center;
    align-items: center;
}

.catalog .item__wrapper {
    display: inherit;
    flex-direction: column;
    gap: .25rem;
    background: var(--item__wrapper-bg-color);
    padding: 10%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: solid;
    overflow: hidden;
    width: 100%;
}

.catalog .item__wrapper .text {
    text-align: center;
    margin-top: .5rem;
    height: 5rem;
}

.catalog .item-img-container {
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1;
}

.catalog .item-img-container picture {
    position: absolute;
    inset: 0;
}

.item-img-container img {
    width: 100%;
    object-fit: contain;
}

.item-img-container .hover {
    opacity: 0;
    pointer-events: none;
}

.item-img-container:hover .showcase {
    opacity: 0;
}

.item-img-container:hover .hover {
    opacity: 1;
    pointer-events: auto;
}

.item-img-container .showcase {
    height: 100%;
}

.item-img-container .hover {
    transform: translateY(-13%);
}

.catalog button {
    width: 100%;
    border: solid;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 15px;
    background: var(--item-btn-color);
    color: #171717;
    border-color: #3f3f3f;
    font-weight: bolder;
}

.catalog button:hover {
    background: var(--item-btn-color-hover);
}

@media screen and (min-width: 1000px) {
    

    .catalog button {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --catalog-gap: .1vw;
    }

    .filters .controls {
        width: 20vw;
    }

    .catalog .item {
        width: calc(25% - (var(--catalog-gap) * .75));
    }

    .catalog .item {
        padding: 1rem;
    }

    .catalog .item__wrapper {
        padding: 5%;
    }
}