:root {
    --hero-bg-s: url(../media/hero-page/bg3-s.webp);
    --hero-bg-m: url(../media/hero-page/bg3-m.webp);
    --hero-bg-b: url(../media/hero-page/bg3-b.webp);
    --hero-bg: var(--hero-bg-s);
    --hero-bg-color: black;
    --hero-border-color: linear-gradient(to bottom, #797070, #615b5b);
    --hero-font-color: rgb(248, 247, 247);--hero-pad: 1rem;
    --hero-mask: linear-gradient(180deg, black 45%, transparent 100%);
}

@media screen and (min-width: 640px) {
    :root {
        --hero-bg: var(--hero-bg-m);
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --hero-bg: var(--hero-bg-b);
    }
}

#hero-page {
    display: flex;
    background: var(--hero-bg);
    background-size: cover;
    min-height: 100svh;
    justify-content: center;
}



/* vertical style */
.hero-page {
    display: flex;
    padding: 0;
}

.hero-page__wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    background: linear-gradient(to bottom, var(--color-bg-secondary), var(--color-bg-primary));
}

.hero-page__wrapper .right,
.hero-page__wrapper .left {
    display: flex;
    padding-top: var(--size);
}

.hero-page__wrapper .right {
    flex: 2;
}

.hero-page__wrapper .left {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    color: var(--hero-font-color);
    gap: 1rem;
}

.gradient-border-sharp {
    border: solid;
    border-width: 0 4px;
    border-image: var(--hero-border-color);
    border-image-slice: 1; 
}



.hero-page h1 {
    font-size: clamp(0.5rem, clamp(3svh, 10vw, 7svh), 8rem);
}

.hero-page a {
    align-self: flex-start;
    padding: .75rem;
    background-color: var(--color-bg-main);
    font-size: 1rem;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    font-size: clamp(1rem, 1.2vw + 0.75rem, 1.5rem);
}

#hero-page .img-container {
    width: 100%;
    height: auto;
    object-fit: cover;
    mask-image: linear-gradient(0deg, transparent 0%,black 50%, transparent 100%);
}



#hero-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-height: 380px) and (width < 800px) {
    /* .hero-page__wrapper {
        flex-direction: column;
    } */
    #hero-page {
        height: 100svh;
        overflow: hidden;
    }


    .hero-page__wrapper .left {
        margin-top: -10rem;
        z-index: 1;
    }

    
}

@media screen and (width >= 800px) {
    /* horizontal style */
    #hero-page {
        height: 100svh;
        overflow: hidden;
    }

    .hero-page {
        display: flex;
        padding-inline: 10%;
        background: linear-gradient(90deg, transparent 5%, var(--hero-bg-color) 10%, var(--hero-bg-color) 90%, transparent 95%);
        flex: 1;
    }

    .hero-page__wrapper {
        flex-direction: row;
    }

    .hero-page__wrapper .left {
        padding-left: 2rem;
    }

    #hero-page .img-container {
        mask-image: linear-gradient(90deg, transparent 0%,black 50%, transparent 100%);
    }
}