:root {
    --navbar-icon-size: 2.5rem;
    --size: clamp(1rem, 5vh, var(--navbar-icon-size));
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background: var(--color-bg-navbar);
    overflow: hidden;
    color: var(--text-color-navbar);
    padding: .625rem;
    box-sizing: border-box;
}

.navbar__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* It only affects the wrapper's children and not the grandchildren */
.navbar .navbar__wrapper>* {
    margin: 0 15px;
}

.navbar .navbar__wrapper .right {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
}

.navbar .icon {
    height: var(--size);
}

.navbar ul {
    display: flex;
    gap: 1.9rem;
    padding-inline: .9rem;
}

.navbar li {
    letter-spacing: .1rem;
}

.navbar .cart {
    display: flex;
    gap: .25rem;
}

.navbar .cart .icon {
    height: 1rem;
}

.navbar__wrapper button {
    background: none;
    border: none;
    color: inherit;
}

.navbar__wrapper button:hover, .navbar__wrapper a:hover{
    color: var(--text-color-navbar-hover);
}

/* Mobile Display */

@media screen and (max-width: 766px) {
    :root{
        --navbar-icon-size: 1.5rem;
    }
    
    .navbar__wrapper {
        justify-content: space-between;
    }
}