/* Separated the CSSs in diferent scripts to be easier to understand  */
@import url(./icon.css);
@import url(./navbar.css);
@import url(./hero.css);
@import url(./about.css);
@import url(./footer.css);
@import url(./catalog.css);
@import url(./gallery.css);

:root {
    --color-text-primary: #a86845;
    --color-text-primary-dark: #77401c;

    --color-bg-main: #FBF4EA;
    --color-bg-primary: #7A4B28;
    --color-bg-secondary: #3D2314;
    --color-bg-surface: #F1E4D0;

    --color-bg-navbar: #1C0F07;
    --text-color-navbar: #FBF4EA;
    --text-color-navbar-hover: #D9A76A;

    --color-button-primary: #C98A3E;
    --color-button-secondary: #A9622F;
    --color-button-primary-hover: #B87A32;

    --color-bg-footer: #170C05;
}

* {
    margin: 0;
    padding: 0;
}

/* So it uses border box as default */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #191919; /* In case any background doesn't load in time, it just shows a black background instead of a white one */
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a strong {
    color: var(--color-text-primary);
}

a strong:hover {
    color: var(--text-color-navbar-hover);
}

li {
    list-style: none;
}

.wrapper-padded {
    margin: 0 auto;
    max-width: 1300px;
}

/* What all the sections in the body (that aren't the hero page) have in common */
.section {
    padding: 10vh 2rem;
    background: var(--color-bg-main);
    overflow-x: hidden; /* it must never have an excess in width */
}

.text-primary {
    color: var(--color-text-primary);
}

.text-primary:hover {
    color: var(--color-text-primary-dark);
}

h2 {
    justify-self: center;
}

@media screen and (width <= 766px) {
    .desktop {
        display: none;
    }
}

@media screen and (width > 766px) {
    .mobile {
        display: none;
    }
}

